:root {
  --clr-black-1:    #10002b;
  --clr-black-2:    #240046;
  --clr-black-3:    #3c096c;
  --clr-purple-1:   #5a189a;
  --clr-purple-2:   #7b2cbf;
  --clr-purple-3:   #9d4edd;
  --clr-purple-4:   #c77dff;
  --clr-purple-5:   #e0aaff;
  --clr-white-1:    #f8f9fa;
  --clr-white-2:    #e9ecef;
  --clr-gray-1:     #dee2e6;
  --clr-gray-2:     #ced4da;
  --clr-gray-3:     #adb5bd;
  --clr-gray-4:     #6c757d;
  --clr-gray-5:     #495057;
  --clr-gray-6:     #343a40;
  --clr-gray-7:     #212529;

  --clr-green-1:    #00F5D4;
  --clr-green-2:    #00BBF9;
  --clr-green-3:    #F15BB5;
  --clr-green-4:    #9B5DE5;
}